.logo {
    margin-top: 44px;
    margin-bottom: 28px;
    color: #fff;
    font-size: 54px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    
}

.logo > span {
    background: linear-gradient(180deg, #E18700 0%, #FFD43A 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: -10px;
    text-shadow: -2px 4px 4px rgba(0, 0, 0, 0.1);
}